<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragment :: header ('Specification_unit')")>
</head>
<body  class="bg-body">

<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel1">Edit row</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Edit_form" method="post" th:action="@{/table/specification_unit/edit}" enctype="multipart/form-data">
                        <input id="edit_id" type="hidden" class="form-control tinput" name="id">
                    <div class="form-group">
                        <select name="product_type" id="edit_product_type">
                            <option>Mirror</option>
                            <option>Mirror</option>
                            <option>Table</option>
                            <option>Bench</option>
                            <option>Kitchen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="product_unit" id="edit_product_unit">
                            <option>Mirror</option>
                            <option>Table</option>
                            <option>Bench</option>
                            <option>Kitchen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="edit_amount" class="col-form-label">amount</label>
                        <input id="edit_amount" type="text" class="form-control tinput" name="amount">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>

<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel2">Delete this row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Delete_form" method="post" th:action="@{/table/specification_unit/delete}">
                    <div class="modal-footer" id="placeBefore">
                        <input type="hidden" name="id" id="delete_id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">S
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel3">Add new row</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Add_form" enctype="multipart/form-data" th:action="@{/table/specification_unit/add}" method="post">
                    <div class="form-group">
                        <select name="product_type" id="product_type">
                            <option>Mirror</option>
                            <option>Table</option>
                            <option>Bench</option>
                            <option>Kitchen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="product_unit" id="product_unit">
                            <option>Mirror</option>
                            <option>Table</option>
                            <option>Bench</option>
                            <option>Kitchen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add_amount" class="col-form-label">amount</label>
                        <input id="add_amount" type="text" class="form-control tinput" name="amount">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<th:block th:replace="fragments/main_fragment :: navbar">

</th:block>
<div class="bg-dark custom-layout mt-2 mx-auto">
    <div><h2 class="mx-auto custom-font">Specification_unit</h2></div>
    <div>

        <div class="scroll-table" id="main-table">
            <table class="table table-dark" id="table">
                <thead class="thead-dark">
                <tr>
                    <div><th scope="col" class="tmark">id</th></div>
                    <div><th scope="col" class="tmark">product_type_name</th></div>
                    <div><th scope="col" class="tmark">product_unit_name</th></div>
                    <div><th scope="col" class="tmark">amount</th></div>
                    <div><th scope="col">Action</th></div>
                </tr>
                </thead>
                <div class="container">
                    <tbody>
                    <th:block th:each="spec_unit:${specification_units}" th:if="${not #lists.isEmpty(specification_units)}">
                        <tr>
                            <td id="id" th:text="${spec_unit?.id}?:''"></td>
                            <td id="product_type_name" th:text="${spec_unit?.product_type} ?:''"></td>
                            <td id="product_unit_type_name" th:text="${spec_unit?.product_unit} ?:''"></td>
                            <td id="amount" th:text="${spec_unit?.amount} ?:''"></td>
                            <td ><div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary btn-del" sec:authorize="hasAnyAuthority('Manager','Master','Director','Deputy_director')"  sec:authorize="hasAnyAuthority('Manager','Master','Director','Deputy_director')" data-target="#modal_edit" data-whatever="@mdo" onclick=EditSpecification_unit(this)>Edit</button>
                                <button type="button" class="btn btn-secondary btn-del" sec:authorize="hasAnyAuthority('Manager','Master','Director','Deputy_director')"  data-toggle="modal" data-target="#modal_delete" data-whatever="@mdo" onclick="DellSpecification_unit(this)">Delete</button>
                            </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </div>
            </table>
        </div>

        <button type="button" class="btn btn-secondary btn-add" data-toggle="modal" data-target="#modal_add" data-whatever="@mdo">Add new row</button>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/Specification_unit.js}"></script>

</body>
</html>
