<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragment :: header ('Suppliers')")>
    <title>Основная форма</title>

</head>
<body  class="bg-body">

<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel1">Edit row</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit_form" th:action="@{/table/supplier/edit}" method="post" enctype="multipart/form-data">

                        <input id="edit_id" type="hidden" class="form-control tinput" name="id">

                    <div class="form-group">
                        <label for="edit_supplier_name" class="col-form-label">supplier_name</label>
                        <input id="edit_supplier_name" type="text" class="form-control tinput" name="supplier_name">
                    </div>

                    <div class="form-group">
                        <label for="edit_address" class="col-form-label">address</label>
                        <input id="edit_address" type="text" class="form-control tinput" name="address">
                    </div>

                    <div class="form-group">
                        <label for="edit_delivery_period" class="col-form-label">delivery_period</label>
                        <input id="edit_delivery_period" type="text" class="form-control tinput" name="delivery_period">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel2">Delete this row?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="delete_form" method="post" th:action="@{/table/supplier/delete}">
                    <div class="modal-footer" id="placeBefore">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <input type="text" name="id" value="" class="hidden-el" id="delete_id">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal_add"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">S
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel3">Add new row</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_form" th:action="@{/table/supplier/add}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="supplier_name3" class="col-form-label">supplier_name</label>
                        <input id="supplier_name3" type="text" class="form-control tinput" name="supplier_name">
                    </div>
                    <div class="form-group">
                        <label for="address3" class="col-form-label">address</label>
                        <input id="address3" type="text" class="form-control tinput" name="address">
                    </div>
                    <div class="form-group">
                        <label for="delivery_period3" class="col-form-label">delivery_period</label>
                        <input id="delivery_period3" type="text" class="form-control tinput" name="delivery_period">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<th:block th:replace="fragments/main_fragment :: navbar">

</th:block>
<div class="bg-dark custom-layout mt-2 mx-auto">
    <div><h2 class="mx-auto custom-font">Suppliers</h2></div>
    <div>

        <div class="scroll-table" id="main-table">
            <table class="table table-dark" id="table">
                <thead class="thead-dark">
                <tr>
                    <div><th scope="col" class="tmark">id</th></div>
                    <div><th scope="col" class="tmark">Name</th></div>
                    <div><th scope="col" class="tmark">Address</th></div>
                    <div><th scope="col" class="tmark">Delivery Period</th></div>
                    <div><th scope="col">Action</th></div>
                </tr>
                </thead>
                <div class="container">
                    <tbody>
                    <th:block th:each="supp:${suppliers}">
                        <tr>
                            <td id = "id" th:text="${supp.id}?:''"></td>
                            <td id = "supplier_name" th:text="${supp.supplier_name} ?:''"></td>
                            <td id = "address" th:text="${supp.address} ?:''"></td>
                            <td id = "delivery_period" th:text="${supp.delivery_period} ?:''"></td>
                            <td ><div class="btn-group" role="group" aria-label="Basic example">
                                <button id="edit_button" type="button" class="btn btn-secondary btn-ed"
                                        data-toggle="modal" data-target="#modal_edit" data-whatever="@mdo"
                                        onclick="EditSupplier(this)"> Edit </button>
                                <button type="button" class="btn btn-secondary btn-del" data-toggle="modal" data-target="#modal_delete"
                                        data-whatever="@mdo"
                                        onclick="DellSupplier(this)"
                                >Delete</button>
                            </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </div>
            </table>
        </div>
        <button type="button" class="btn btn-secondary btn-add" data-toggle="modal" data-target="#modal_add" data-whatever="@mdo">Add new row</button>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/Supplier.js}"></script>
</body>
</html>
